*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(35, 138, 35);
    overflow: hidden;
}

.card-holder{
    position: relative;
    padding-top: 40px;
    width: 6.25em;
    height: 200px;
    background-color: rgb(44, 131, 44);
}

.card{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    background: url('../../assets/deck/1-clover.png');
    width: 6.25em;
    height: 8.75em;
    overflow: hidden;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border-radius: 0.375em;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    &:hover{
        cursor: grab;
    }
}

.user-hand{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    column-gap: 40px;
    width: 100%;
}

.middle-packs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
}

.game-center{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}